<?xml version="1.0" encoding="Shift_JIS"?>

<web-app
    xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">
    
    <display-name>Sample Web application</display-name>
    
    <servlet>
        <servlet-name>NimbusServlet</servlet-name>
        <servlet-class>jp.ossc.nimbus.servlet.ServiceManagerFactoryServlet</servlet-class>
        <init-param>
            <param-name>ServicePaths</param-name>
            <param-value>/WEB-INF/service-definition.xml</param-value>
        </init-param>
        <init-param>
            <param-name>CheckLoadManagerCompleted</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>Validate</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>NimbusServlet</servlet-name>
        <url-pattern>/WEB-INF/nimbus</url-pattern>
    </servlet-mapping>
    
</web-app>
